<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="homePage_layout :: htmlhead">
    <meta charset="utf-8">
    <title>订单信息列表</title>
</head>

<body>
<!--数据查询-->
<form class="layui-form">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">选择状态</label>
            <div class="layui-input-inline">
                <select id="states" name="states">
                    <option value="0">选择状态</option>
                    <option value="nosubmit">未提交</option>
                    <option value="noexamine">未审核</option>
                    <option value="noconfirm">未确认</option>
                    <option value="completed">已完成</option>
                </select>
            </div>
        </div>
    </div>
    <a class="layui-btn mgl-20" data-type="reload" id="queryBtn">查询</a>
</form>
<!--用户数据表格-->
<table class="layui-hide" id="orderlist" lay-filter="orderlist"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">详情</a>
</script>

<script>
    layui.use('table', function () {
        var table = layui.table;

        table.render({
            elem: '#orderlist'
            , url: '/car/jwclist'
            , title: '订单数据表'
            , cols: [
                [
                    // {type: 'checkbox', fixed: 'left'},
                    {field: 'id', title: 'id', width: 100, hidden: true}
                    , {field: 'orderTime', title: '下订单时间', width: 120}
                    , {field: 'total', title: '总价格', width: 120}
                    , {field: 'state', title: '状态', width: 120}
                    , {field: 'consigneeId', title: '类别号', width: 120}
                    , {field: 'confirmTime', title: '确认时间', width: 160}
                    , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150}
                ]
            ]
            , page: true
        });

        var $ = layui.$, active = {
            reload: function () {
                //执行重载
                table.reload('orderlist', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        //重新加载条件
                        states: $('#states').val()
                    }
                });
            },
            toedit: function (winTitle, id) {
                layer.open({
                    type: 2,
                    title: winTitle,
                    shadeClose: false,
                    shade: 0.5,
                    maxmin: true, //开启最大化最小化按钮
                    area: ['800px', '600px'],
                    content: '/car/details/' + id
                });
            }
        };

        $('#queryBtn').on('click', function () {
            active.reload();
        });

        //监听行工具事件
        table.on('tool(orderlist)', function (obj) {
            active.toedit("服装销售系统-订单详情信息", obj.data.id);
        });
    });
</script>

</body>

</html>