<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品管理</title>
    <link rel="stylesheet" th:href="@{/webjars/layui/2.5.5/css/layui.css}"/>
    <script th:src="@{/webjars/layui/2.5.5/layui.js}"></script>
    <script th:src="@{/webjars/layui/2.5.5/layui.all.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery/jquery-3.3.1.min.js}"></script>
</head>
<body>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>订单详情信息:<p style="display: inline" class="orderdetails_orderid" th:value="${order.getId()}" th:text="${order.getId()}"></p></legend>
</fieldset>

<table class="layui-hide" id="orderDetail" lay-filter="orderDetail" ></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">保存</a>
    <a class="layui-btn layui-btn-xs" lay-event="del">删除</a>
</script>

<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">收获人</label>
        <div class="layui-input-inline">
            <select readonly="true" name="consigneeId">
                <option value="0">选择收货人</option>
                <option th:each="c:${consignee}" th:value="${c.getId()}"
                        th:text="${c.getName()}" th:selected="${order.getConsigneeId() eq c.getId()}">1
                </option>
            </select>
        </div>
    </div>
</div>

<input style="display: none" th:value="${order.getState()}" class="order_state">
<input style="margin-left: 40%" type="button" class="layui-btn" id="orderdetail_submit"/>
<button class="layui-btn layui-btn-primary btn-close">关闭</button>

</body>
</html>
<script>

    layui.use('table', function () {
        var table = layui.table;
        table.render({
            elem: '#orderDetail'
            , url: '/orderItems/detail'
            , title: '订单数据表'
            , cols: [
                [
                    // {type: 'checkbox', fixed: 'left'},
                    {field: 'id', title: 'id', width: 100, hidden: true}
                    , {field: 'costumeId', title: '商品号', width: 120}
                    , {field: 'costumeName', title: '商品名', width: 200}
                    , {field: 'quantity', title: '数量(可修改)', width: 120, edit: true}
                    , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150}
                ]
            ]
            , page: true
        });

        //监听行工具事件
        table.on('tool(orderDetail)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                    $.ajax({
                        url: "/orderItems/del"
                        , type: "post"
                        , data: JSON.stringify({
                            "id": data.id,
                            "costumeId": data.costumeId,
                            "quantity": data.quantity
                        })
                        , contentType: "application/json"
                        , dataType: "text"
                        , success: function (result) {
                            alert(result);
                            //请求发送成功后
                        },
                        error: function (e) {
                            //请求发送失败
                            alert("error");
                        }
                    });
                });
            } else if (obj.event === 'edit') {
                $.ajax({
                    url: "/orderItems/update"
                    , type: "post"
                    , data: JSON.stringify({
                        "id": data.id,
                        "costumeId": data.costumeId,
                        "quantity": data.quantity
                    })
                    , contentType: "application/json"
                    , dataType: "text"
                    , success: function (result) {
                        alert(result);
                        //请求发送成功后
                    },
                    error: function (e) {
                        //请求发送失败
                        alert("error");
                    }
                });
            }
        });


        $(".btn-close").click(function () {
            //关闭父窗口
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭
        });
    });


    $(document).ready(function () {
        let state = $(".order_state").val();
        let text;
        if (state == 'nosubmit') {
            text = "提交订单";
        } else if (state == 'noconfirm') {
            text = "确认订单";
        } else if (state == 'noexamine') {
            text = "等待审核";
        } else if(state=='notpass'){
            text = "提交订单";
        }else {
            text = "已完成";
        }
        $("#orderdetail_submit").attr("value", text);

        $("#orderdetail_submit").click(function () {
            if (state == 'nosubmit'||state=='notpass') {
                let consigneeId =$("[name='consigneeId']").val();
                if(consigneeId ==0){
                    alert("请选择收货人！");
                }else {
                    //提交订单操作
                    let orderId = $(".orderdetails_orderid").val();
                    $.ajax({
                        url: "/orderItems/submit"
                        , type: "post"
                        , data: JSON.stringify({
                            "id": orderId,
                        })
                        , contentType: "application/json"
                        , dataType: "text"
                        , success: function (result) {
                            alert(result);
                            let index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.location.reload();
                            parent.layer.close(index); //再执行关闭
                            //请求发送成功后
                        },
                        error: function (e) {
                            //请求发送失败
                            alert("error");
                        }
                    });
                }
            } else if (state == 'noconfirm') {
                //确认订单操作
                let orderId = $(".orderdetails_orderid").val();
                alert("q确认订单操作");
                $.ajax({
                    url: "/car/confirm"
                    , type: "post"
                    , data: JSON.stringify({
                        "id": orderId,
                    })
                    , contentType: "application/json"
                    , dataType: "text"
                    , success: function (result) {
                        alert(result);
                        let index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.location.reload();
                        parent.layer.close(index); //再执行关闭
                        //请求发送成功后
                    },
                    error: function (e) {
                        //请求发送失败
                        alert("error");
                    }
                });
            } else if (state == 'noexamine') {
                text = "等待审核";
            }else {
                text = "已完成";
            }
        });
    });
</script>
