<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="homePage_layout :: htmlhead">
    <meta charset="utf-8">
    <title>客户信息列表</title>
</head>

<body>
<!--数据查询-->
<a class="layui-btn mgl-20" data-type="reload" id="addBtn">添加</a>
<!--用户数据表格-->
<table class="layui-hide" id="list" lay-filter="list"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
</script>

<script>
    layui.use('table', function () {
        var table = layui.table;

        table.render({
            elem: '#list'
            , url: '/consignee/list'
            , title: '客户数据表'
            , cols: [
                [
                    // {type: 'checkbox', fixed: 'left'},
                    {field: 'id', title: 'id', width: 100, hidden: true}
                    , {field: 'name', title: '客户姓名', width: 120}
                    , {field: 'mobile', title: '联系方式', width: 120}
                    , {field: 'address', title: '地址', width: 120}
                    , {field: 'role', title: '等级', width: 120}
                    , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150}
                ]
            ]
            , page: true
        });

        var $ = layui.$, active = {
            reload: function () {
                //执行重载
                table.reload('list', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        //重新加载条件
                        states: $('#states').val()
                    }
                });
            },
            toedit: function (winTitle, id) {
                layer.open({
                    type: 2,
                    title: winTitle,
                    shadeClose: false,
                    shade: 0.5,
                    maxmin: true, //开启最大化最小化按钮
                    area: ['1000px', '600px'],
                    content: '/consignee/edit/' + id
                });
            }
        };

        $('#addBtn').on('click', function () {
            active.toedit("服装销售系统-添加客户信息",0);
        });

        //监听行工具事件
        table.on('tool(list)', function (obj) {
            active.toedit("服装销售系统-编辑客户信息", obj.data.id);
        });
    });
</script>

</body>

</html>