<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="homePage_layout :: htmlhead">
</head>

<body class="layui-layout-body">
<header>
    <div class="layui-layout-admin">
        <div class="layui-header">
            <a href="javascript:;" class="layui-hide-xs">
                <a href="#" style="font-weight: bold;">
                    <div class="layui-logo">服装销售系统</div>
                </a>
            </a>
            <a href="javascript:;" class="layui-hide-xs">
                <div class="switchMenu" style="display: none;"><i class="fa fa-indent"></i></div>
            </a>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;" th:text="${user.getUsername()}">
                        <!--                    <shiro:principal property="sysUserName"></shiro:principal>-->
                    </a>
                    <dl class="layui-nav-child">
                        <dd id="updUsePwdDd" class="layui-this"><a href="javascript:;"
                                                                   onclick="updateUsePwd();">修改密码</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="/logout">退出</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree">
                    <li class="layui-nav-item layui-nav-itemed">
                        <dl class="layui-nav-child" th:each="j:${jurisdictions}">
                            <dd>
                                <a href="#" style="text-decoration:none;" th:id="${j.getId()}"
                                   th:data-id="${j.getId()}" th:data-title="${j.getFunction()}"
                                   th:class="${'function'+j.getId()+' site-demo-active'}"
                                   th:text="${'&emsp;&emsp;'+j.getFunction()}" data-type="tabAdd">&emsp;商品</a>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!--tab标签-->
            <div class="layui-tab" lay-filter="demo" lay-allowclose="true">
                <ul class="layui-tab-title"></ul>
                <div class="layui-tab-content">
                    <div class="layui-container">
                        <div class="layui-row">
                            <div id="container" class="layui-col-xs9">
                                <h1 style="padding-top:50px;line-height:2.0;">
                                    <!--<shiro:principal property="sysUserName"></shiro:principal>-->
                                    <a th:text="${user.getName()}"></a>
                                    ，欢迎登录
                                    <span style="font-weight: bold;font-size:28px;">服装销售系统</span></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

</header>

<script type="text/javascript">
    //JavaScript代码区域
    layui.use(['element', 'layer', 'jquery'], function () {
        var element = layui.element;
        // var layer = layui.layer;
        var $ = layui.$;
        // 配置tab实践在下面无法获取到菜单元素
        $('.site-demo-active').on('click', function () {
            var dataid = $(this);
            //这时会判断右侧.layui-tab-title属性下的有lay-id属性的li的数目，即已经打开的tab项数目
            if ($(".layui-tab-title li[lay-id]").length <= 0) {
                //如果比零小，则直接打开新的tab项
                $("#container").hide();
                active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"), dataid.attr("data-title"));
            } else {
                //否则判断该tab项是否以及存在
                var isData = false; //初始化一个标志，为false说明未打开该tab项 为true则说明已有
                $.each($(".layui-tab-title li[lay-id]"), function () {
                    //如果点击左侧菜单栏所传入的id 在右侧tab项中的lay-id属性可以找到，则说明该tab项已经打开
                    if ($(this).attr("lay-id") == dataid.attr("data-id")) {
                        isData = true;
                    }
                })
                if (isData == false) {
                    //标志为false 新增一个tab项
                    active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"), dataid.attr("data-title"));
                }
            }
            //最后不管是否新增tab，最后都转到要打开的选项页面上
            active.tabChange(dataid.attr("data-id"));
        });

        var active = {
            //在这里给active绑定几项事件，后面可通过active调用这些事件
            tabAdd: function (url, id, name) {
                // 新增一个Tab项 传入三个参数，分别对应其标题，tab页面的地址，还有一个规定的id，是标签中data-id的属性值
                // 关于tabAdd的方法所传入的参数可看layui的开发文档中基础方法部分
                element.tabAdd('demo', {
                    title: name,
                    content: '<iframe data-frameid="' + id + '" scrolling="auto" frameborder="0" src="'
                        + url + '" style="width:100%;height:99%;"></iframe>',
                    id: id // 规定好的id
                });
                FrameWH();  // 计算ifram层的大小
            },
            tabChange: function (id) {
                //切换到指定Tab项
                element.tabChange('demo', id); //根据传入的id传入到指定的tab项
            },
            tabDelete: function (id) {
                element.tabDelete("demo", id);//删除
            }
        };

        function FrameWH() {
            var h = $(window).height();
            $("iframe").css("height", h + "px");
        }
    });

    $(document).ready(function () {
        $(".function1").attr("data-url","viewProducts");
        $(".function3").attr("data-url","/car/orderList");
        $(".function4").attr("data-url","/consignee");
        $(".function5").attr("data-url","/fund ");
        $(".function6").attr("data-url","listCostume");
        $(".function7").attr("data-url","category");
        $(".function8").attr("data-url","/car/orderExamine");
        $(".function9").attr("data-url","setdiscounts");
        $(".function11").attr("data-url","jurisdiction");
        // $(".function1").click(function () {
            // $("#container").load('viewProducts');
        // });
        // $(".function6").click(function () {
            // $("#container").load('listCostume');
        // });
    });



</script>
</body>
</html>