<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="homePage_layout :: htmlhead">
</head>

<body class="layui-layout-body">
<header>
    <div class="layui-layout-admin">
        <div class="layui-header">
            <a href="javascript:;" class="layui-hide-xs">
                <a href="#" style="font-weight: bold;">
                    <div class="layui-logo">服装销售系统</div>
                </a>
            </a>
            <a href="javascript:;" class="layui-hide-xs">
                <div class="switchMenu" style="display: none;"><i class="fa fa-indent"></i></div>
            </a>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;" th:text="${user.getUsername()}">
                        <!--                    <shiro:principal property="sysUserName"></shiro:principal>-->
                    </a>
                    <dl class="layui-nav-child">
                        <dd id="updUsePwdDd" class="layui-this"><a href="javascript:;"
                                                                   onclick="updateUsePwd();">修改密码</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="/logout">退出</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree">
                    <li class="layui-nav-item layui-nav-itemed">
                        <dl class="layui-nav-child" th:each="j:${jurisdictions}">
                            <dd>
                                <a href="#" style="text-decoration:none;" th:class="${'function'+j.getId()}"
                                   th:text="${'&emsp;&emsp;'+j.getFunction()}">&emsp;商品</a>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <div class="layui-container">
                <div class="layui-row">
                    <div id="content" class="layui-col-xs9"></div>
                    <div id="container" class="layui-col-xs9">
                        <h1 style="padding-top:50px;line-height:2.0;">
                            <!--<shiro:principal property="sysUserName"></shiro:principal>-->
                            <a th:text="${user.getName()}"></a>
                            ，欢迎登录
                            <span style="font-weight: bold;font-size:28px;">服装销售系统</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<script type="text/javascript">
    // $.ajax({
    //     url:'/test',
    //     type:'get',
    //     success:function(res){
    //         $('#router').html($(res));
    //     }
    // });
    // $('#router').load('./test.html');
    $(document).ready(function () {
        $(".function1").click(function () {
            $("#container").load('viewProducts');
        });
        $(".function6").click(function () {
            $("#container").load('listCostume');
        });
    });

</script>
</body>
</html>